<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="methods" name="Suite111" thread-count="1">

  <test name="Test1111">
    <classes>
      <class name="javaTestNG.TestNFParallelTestingDemo"/>
    </classes>
  </test> <!-- Test1111 -->
</suite> <!-- Suite111 -->
