<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">


	<appender name="console" class="org.apache.log4j.ConsoleAppender"> <!-- name = console => log ra file console trên màn hình-->
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d] %m%n" />
		</layout>
	</appender>

	<appender name="logfile" class="org.apache.log4j.FileAppender">
		<param name="File" value="./scriptLogs/NopCommerce.txt" />
		<param name="Append" value="false" /> <!-- Dùng FileAppender chỉ lưu lần chạy gần nhất-->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d] %m%n" />
		</layout>
	</appender>

	<appender name="file" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="./scriptLogs/NopCommerce.log" />
		<param name="append" value="true" /><!-- Dùng RollingFileAppender sẽ lưu lại những lần chạy trước đó-->
		<param name="maxFileSize" value="10MB" /> <!-- Dung lượng lưu trữ log là 10MB khá nhiều-->
		<param name="maxBackupIndex" value="10" /> <!--show 10 lần chạy gần nhất -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d] %m%n" />
		</layout>
	</appender>
<!-- -->
	<appender name="testng" class="commons.TestNGAppender"> <!-- Khi log chạy xong thì sẽ lưu vào report cho m  -->
		<param name="Threshold" value="INFO" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d] %m%n" />
		</layout>
	</appender>

	<category name="com.nopcommerce.user">
		<priority value="all" />
		<appender-ref ref="console" />
		<appender-ref ref="logfile" />
		<appender-ref ref="file" />
		<appender-ref ref="testng" />
	</category>

	<!-- <category name="com.bankguru.payment">
		<priority value="all" />
		<appender-ref ref="console" />
		<appender-ref ref="logfile" />
		<appender-ref ref="file" />
		<appender-ref ref="testng" />
	</category>
-->
	<root>
		<priority value="info" />
	</root>

</log4j:configuration>